@{
    ViewData["Title"] = "Contacts";
}

<h2>Контакты</h2>

<div class="Light_purple_block">
    <p>ФИО разработчика: Курапова Анна Сергеевна</p>
    <p>Телефон: 8(9603)-88-38-38</p>
    <p>Адрес: г. Москва, ул. Ленина, д.33</p>
</div>

